form{
    width: 30%;
}
input[type="text"],input[type="email"],input[type="tel"]{
    width: 200px;
    height: 30px;
    border: blue 1px solid;
    border-radius: 10px;
}
label{
    font-size: 1.2rem;
    font-weight: bold;
}